/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.vote__icon {
  display: inline;
  vertical-align: middle;
  margin: 2px;
  width: 15px;
  background: #b4b4b4;
}

.vote__text {
  display: inline;
  margin: 2px;
}